footer{
    background-color: var(--color-primary-1);
    
}

#footer_itens{
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 24px 8px;
    align-items: center;
}
#copyrigth{
    color: var(--color-neutral-1);
    font-weight: 500;

}

@media screen and (max-width: 600px){
    #footer_itens{
        flex-direction: column;
        gap: 20px;
    }
}