#services{
    overflow: hidden;
    gap: 20em;
}
.services{
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
    gap: 5%;
}

.services-tilte{
    padding-bottom: 10%;
    
}
.service-tilte{
    color: var(--color-neutral-0);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(80, 79, 79);
    font-size: 20px;
}
.service-type-consultoria{
    display: flex;
    align-items: center;
    text-align: center;
    height: 320px;
    width: 250px;
    background: var(--color-primary-5);
    border-radius: 10%;
    box-shadow: (0px 0px 12px 4px rgba(0,0,0,0.5));
    background-image: url(../img/consultoria.png);
}
.service-type-consultoria:hover{
    
    background: var(--color-primary-5);
    height: 340px;
    width: 270px;
    background-image: url(../img/consultoria-blur.png);
}
.service-type-mentoria{
    display: flex;
    align-items: center;
    text-align: center;
    height: 320px;
    width: 250px;
    background: var(--color-primary-5);
    border-radius: 10%;
    box-shadow: (0px 0px 12px 4px rgba(0,0,0,0.5));
    background-image: url(../img/mentoria.png);
}
.service-type-mentoria:hover{
    
    background: var(--color-primary-5);
    height: 340px;
    width: 270px;
    background-image: url(../img/mentoria-blur.png);
}
.service-type-treinamento{
    display: flex;
    align-items: center;
    text-align: center;
    height: 320px;
    width: 250px;
    background: var(--color-primary-5);
    border-radius: 10%;
    box-shadow: (0px 0px 12px 4px rgba(0,0,0,0.5));
    background-image: url(../img/Treinamento.png);
}
.service-type-treinamento:hover{
    
    background: var(--color-primary-5);
    height: 340px;
    width: 270px;
    background-image: url(../img/Treinamento-blur.png);
}
.service-type-palestra{
    display: flex;
    align-items: center;
    text-align: center;
    height: 320px;
    width: 250px;
    background: var(--color-primary-5);
    border-radius: 10%;
    box-shadow: (0px 0px 12px 4px rgba(0,0,0,0.5));
    background-image: url(../img/palestra2.png);
}
.service-type-palestra:hover{
    
    background: var(--color-primary-5);
    height: 340px;
    width: 270px;
    background-image: url(../img/palestra2.png);
}


@media screen and (max-width: 600px){
    .services{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 2em;
        gap: 40%;
    }
    .service-type-mentoria{
        padding-bottom: 2em;
        margin-bottom: 20px;

    }
    .service-type-consultoria{
        padding-bottom: 2em;
        margin-bottom: 20px;

    }
    .service-type-treinamento{
        padding-bottom: 2em;
        margin-bottom: 20px;

    }
    .service-type-palestra{
        padding-bottom: 2em;
        margin-bottom: 20px;

    }
}

.service-link{
    padding-top: 2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.btn-service{
    
    border: none;
    display: flex;  
    background-color: var(--color-primary-4);
    color: var(--color-neutral-0);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    
}
.btn-service:hover{
    background-color: var(--color-neutral-1);
}